body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#container{
    background-color: #333232;
    height: 200px;
    width: 50%;
    border: 5px solid rgb(255, 0, 0);
    color: #fff;
    margin: auto;
    text-align: center;
}

#btn{
    margin-top: 15px;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    color: black;
    background-color: #fff;
}
#btn:hover {
    transition: 0.5s;
    background-color: yellow;
    color: black;
    cursor: pointer;
}
